@media only screen and (min-width: 700px) {
    /*Computer screens*/
    .container {
        width: 50%;
        min-width: 700px;
        /*background-color: red;*/
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    /*Mostly smartphone screens, tablets and eventually resized windows*/
    .container {
        margin: 0 auto;
    }
}

.description {
    min-height: 300px;
}

.actions {
    min-height: 100px;
    max-width: 200px;
    margin: 0 auto;
}

.selectError {
    /*color: red !important;*/
    background-color: rgb(252, 243, 243) !important;
    /*border: 1px solid red !important ;*/
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6) !important;
}
